<a href="https://colab.research.google.com/github/ENRICOROBLESDELRIO/data_boot_camp_final_project/blob/cgzverduzco_branch/Machine%20Learning%20Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import data**

In [2]:
# Libraries and dependencies

import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sns
import math
from sklearn.metrics import accuracy_score
from google.colab import files
from sqlalchemy import create_engine
import psycopg2

## Import for models
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
# Google Cloud SQL connexion:
# Code taken from: https://stackoverflow.com/questions/53180140/how-to-access-cloud-sql-from-google-colab
!gcloud auth login
!gcloud config set project endeavor-intelligence-unit
!gcloud sql instances describe finalprojectdb

Go to the following link in your browser:

    https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=openid+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fappengine.admin+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcompute+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Faccounts.reauth&state=Ekp2XeHKNuG3UTFE2CSDM9NLL5lVpX&prompt=consent&access_type=offline&code_challenge=ST2r-b2i6k7POX99Nj4Rw0C31Ck0oGfQx19RU3qpZZU&code_challenge_method=S256

Enter verification code: 4/1AX4XfWh7s2tA_B0iajuCrIsKkBSqSUuuweqlHuECbzoqe6vSabnWhw2JVk4

You are now logged in as [c.gzverduzco@gmail.com].
Your current project is [None].  You can change this setting by running:
  $ gcloud config set project PROJECT_ID
Updated property [core/project].
WARNING: You do not appear to have access to project [endeavor-intelligence-unit] or it does not exist.
ERROR: (gcloud.sql.instances.describe) There was no instance found at projects/endeavor-intelligence-unit/instances/finalprojectdb or you are not authorized to access it.

In [4]:
# download and initialize the psql proxy
!wget https://dl.google.com/cloudsql/cloud_sql_proxy.linux.amd64 -O cloud_sql_proxy
!chmod +x cloud_sql_proxy

# "connectionName" is from the previous block
!nohup ./cloud_sql_proxy -instances="endeavor-intelligence-unit:northamerica-northeast2:finalprojectdb"=tcp:5432 &
!sleep 30s

--2021-11-13 17:15:38--  https://dl.google.com/cloudsql/cloud_sql_proxy.linux.amd64
Resolving dl.google.com (dl.google.com)... 108.177.119.91, 108.177.119.190, 108.177.119.93, ...
Connecting to dl.google.com (dl.google.com)|108.177.119.91|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16638816 (16M) [application/octet-stream]
Saving to: ‘cloud_sql_proxy’

cloud_sql_proxy     100%[===================>]  15.87M  --.-KB/s    in 0.06s

2021-11-13 17:15:38 (267 MB/s) - ‘cloud_sql_proxy’ saved [16638816/16638816]

nohup: appending output to 'nohup.out'

In [5]:
#Checking the proxy´s logs 
!cat nohup.out

2021/11/13 17:15:38 current FDs rlimit set to 1048576, wanted limit is 8500. Nothing to do here.
2021/11/13 17:15:40 errors parsing config:
	googleapi: Error 403: The client is not authorized to make this request., notAuthorized

In [6]:
# Connexion throught psycopg2 Google Cloud SQL data base

conn = psycopg2.connect(
    host='*******', port='********', database="*********",
    user="*******", password="*********")

#Rounds

In [8]:
# Query to connect with SQL data base
SQL_Query = pd.read_sql_query('''select * FROM "Rounds" ''', conn)
rounds_df = pd.DataFrame(SQL_Query)

In [9]:
# Data base of VC Rounds in entrepreneurs 
rounds_df.head(20)

    id_company     category  ... consolidate_company  increase_team
0            3   E-Commerce  ...                 0.0            0.0
1            7         SaaS  ...                 0.0            0.0
2           10         SaaS  ...                 0.0            0.0
3           13  IT services  ...                 0.0            0.0
4           23   E-Commerce  ...                 0.0            0.0
5           23   E-Commerce  ...                 0.0            0.0
6           23   E-Commerce  ...                 0.0            0.0
7           23   E-Commerce  ...                 0.0            0.0
8           23   E-Commerce  ...                 0.0            0.0
9           33         SaaS  ...                 0.0            0.0
10          51   E-Commerce  ...                 0.0            0.0
11          64      Fintech  ...                 0.0            0.0
12          93         SaaS  ...                 0.0            0.0
13         129       AgTech  ...                 0.0            0.0
14         141      Fintech  ...                 0.0            0.0
15         141      Fintech  ...                 0.0            0.0
16         141      Fintech  ...                 0.0            0.0
17         141      Fintech  ...                 0.0            0.0
18         141      Fintech  ...                 0.0            0.0
19         141      Fintech  ...                 0.0            0.0

[20 rows x 24 columns]

In [10]:
# data types
rounds_df.dtypes

id_company                     int64
category                      object
deal_type                     object
foundation_year                int64
number_employees             float64
increase_employees             int64
number_investors               int64
current_status                 int64
foreign_vc                     int64
local_vc                       int64
round_year                     int64
round_amount                 float64
support_company              float64
manufacture_equipment        float64
develop_new_tech             float64
grow_company                 float64
add_new_services             float64
develop_business             float64
financial_banking            float64
develop_products_services    float64
marketing_strategies         float64
expand_internationality      float64
consolidate_company          float64
increase_team                float64
dtype: object

In [11]:
rounds_df.isna().sum()

id_company                   0
category                     0
deal_type                    0
foundation_year              0
number_employees             7
increase_employees           0
number_investors             0
current_status               0
foreign_vc                   0
local_vc                     0
round_year                   0
round_amount                 0
support_company              5
manufacture_equipment        5
develop_new_tech             5
grow_company                 5
add_new_services             5
develop_business             5
financial_banking            5
develop_products_services    5
marketing_strategies         5
expand_internationality      5
consolidate_company          5
increase_team                5
dtype: int64

In [12]:
rounds_df[rounds_df['current_status'].isnull()]

Empty DataFrame
Columns: [id_company, category, deal_type, foundation_year, number_employees, increase_employees, number_investors, current_status, foreign_vc, local_vc, round_year, round_amount, support_company, manufacture_equipment, develop_new_tech, grow_company, add_new_services, develop_business, financial_banking, develop_products_services, marketing_strategies, expand_internationality, consolidate_company, increase_team]
Index: []

In [13]:
rounds_df.count()

id_company                   1236
category                     1236
deal_type                    1236
foundation_year              1236
number_employees             1229
increase_employees           1236
number_investors             1236
current_status               1236
foreign_vc                   1236
local_vc                     1236
round_year                   1236
round_amount                 1236
support_company              1231
manufacture_equipment        1231
develop_new_tech             1231
grow_company                 1231
add_new_services             1231
develop_business             1231
financial_banking            1231
develop_products_services    1231
marketing_strategies         1231
expand_internationality      1231
consolidate_company          1231
increase_team                1231
dtype: int64

In [14]:
len(rounds_df.axes[0])

1236

In [15]:
# Drop the null columns where all values are null
rounds_df = rounds_df.dropna(axis='columns', how='all')
rounds_df.head()

   id_company     category  ... consolidate_company  increase_team
0           3   E-Commerce  ...                 0.0            0.0
1           7         SaaS  ...                 0.0            0.0
2          10         SaaS  ...                 0.0            0.0
3          13  IT services  ...                 0.0            0.0
4          23   E-Commerce  ...                 0.0            0.0

[5 rows x 24 columns]

In [16]:
# Encoding labels
le = LabelEncoder()
db_rounds_Encode = rounds_df.copy()
db_rounds_Encode['deal_type'] = le.fit_transform(db_rounds_Encode['deal_type'])

# Get the name of the columns
columnsName = db_rounds_Encode.columns.tolist()
#columnsName.remove('rounds_funding_factor')

# convert variables to numerical
for column in columnsName:
  db_rounds_Encode[column] = pd.to_numeric(db_rounds_Encode[column], errors='coerce').fillna(0).astype(np.int64)

db_rounds_Encode.head()

   id_company  category  ...  consolidate_company  increase_team
0           3         0  ...                    0              0
1           7         0  ...                    0              0
2          10         0  ...                    0              0
3          13         0  ...                    0              0
4          23         0  ...                    0              0

[5 rows x 24 columns]

In [17]:
# data types
db_rounds_Encode.dtypes

id_company                   int64
category                     int64
deal_type                    int64
foundation_year              int64
number_employees             int64
increase_employees           int64
number_investors             int64
current_status               int64
foreign_vc                   int64
local_vc                     int64
round_year                   int64
round_amount                 int64
support_company              int64
manufacture_equipment        int64
develop_new_tech             int64
grow_company                 int64
add_new_services             int64
develop_business             int64
financial_banking            int64
develop_products_services    int64
marketing_strategies         int64
expand_internationality      int64
consolidate_company          int64
increase_team                int64
dtype: object

In [18]:
db_rounds_Encode.isna().sum()

id_company                   0
category                     0
deal_type                    0
foundation_year              0
number_employees             0
increase_employees           0
number_investors             0
current_status               0
foreign_vc                   0
local_vc                     0
round_year                   0
round_amount                 0
support_company              0
manufacture_equipment        0
develop_new_tech             0
grow_company                 0
add_new_services             0
develop_business             0
financial_banking            0
develop_products_services    0
marketing_strategies         0
expand_internationality      0
consolidate_company          0
increase_team                0
dtype: int64

In [19]:
db_rounds_Encode.count()

id_company                   1236
category                     1236
deal_type                    1236
foundation_year              1236
number_employees             1236
increase_employees           1236
number_investors             1236
current_status               1236
foreign_vc                   1236
local_vc                     1236
round_year                   1236
round_amount                 1236
support_company              1236
manufacture_equipment        1236
develop_new_tech             1236
grow_company                 1236
add_new_services             1236
develop_business             1236
financial_banking            1236
develop_products_services    1236
marketing_strategies         1236
expand_internationality      1236
consolidate_company          1236
increase_team                1236
dtype: int64

#FOUNDERS

In [20]:
# Query to connect with SQL data base from Founders Demographics 
SQL_Query = pd.read_sql_query('''select * FROM "Founders" ''', conn)
founders_df = pd.DataFrame(SQL_Query)

In [21]:
# Data base of Founders Demographics  
founders_df.head(20)

    id_founder  id_company  ... foreing_work_experience  foreing_founder
0            1           7  ...                       0                0
1            2          23  ...                       0                0
2            3         141  ...                       1                0
3            4         152  ...                       1                1
4            5         155  ...                       0                0
5            6         167  ...                       0                0
6            7         185  ...                       0                0
7            8         233  ...                       1                1
8            9        1799  ...                       1                0
9           10         284  ...                       0                0
10          11         307  ...                       0                0
11          12         308  ...                       1                1
12          13         309  ...                       1                1
13          14         326  ...                       0                0
14          15         343  ...                       1                0
15          16         355  ...                       1                0
16          17         393  ...                       1                0
17          18         413  ...                       1                1
18          19         423  ...                       0                0
19          20         425  ...                       0                0

[20 rows x 21 columns]

In [22]:
# data types
founders_df.dtypes

id_founder                               int64
id_company                               int64
general_location                        object
manager_exp                              int64
clevel_exp                               int64
engineering_exp                          int64
sales_exp                                int64
finance_exp                              int64
human_capital_exp                        int64
consulting_exp                           int64
founder_exp                            float64
foundation_year                        float64
years_of_experience_as_entreprenuer    float64
age_of_first_entrepreneurship          float64
age                                    float64
years_of_experience                    float64
number_of_startups                       int64
gender                                  object
foreing_studies                          int64
foreing_work_experience                  int64
foreing_founder                          int64
dtype: object

In [23]:
founders_df.isna().sum()

id_founder                              0
id_company                              0
general_location                       11
manager_exp                             0
clevel_exp                              0
engineering_exp                         0
sales_exp                               0
finance_exp                             0
human_capital_exp                       0
consulting_exp                          0
founder_exp                             1
foundation_year                         7
years_of_experience_as_entreprenuer     7
age_of_first_entrepreneurship          74
age                                     6
years_of_experience                     6
number_of_startups                      0
gender                                  0
foreing_studies                         0
foreing_work_experience                 0
foreing_founder                         0
dtype: int64

In [24]:
founders_df.count()

id_founder                             640
id_company                             640
general_location                       629
manager_exp                            640
clevel_exp                             640
engineering_exp                        640
sales_exp                              640
finance_exp                            640
human_capital_exp                      640
consulting_exp                         640
founder_exp                            639
foundation_year                        633
years_of_experience_as_entreprenuer    633
age_of_first_entrepreneurship          566
age                                    634
years_of_experience                    634
number_of_startups                     640
gender                                 640
foreing_studies                        640
foreing_work_experience                640
foreing_founder                        640
dtype: int64

In [25]:
# Drop the null columns where all values are null
founders_df = founders_df.dropna(axis='columns', how='all')
founders_df.head()

   id_founder  id_company  ... foreing_work_experience  foreing_founder
0           1           7  ...                       0                0
1           2          23  ...                       0                0
2           3         141  ...                       1                0
3           4         152  ...                       1                1
4           5         155  ...                       0                0

[5 rows x 21 columns]

In [26]:
# Encoding labels
le = LabelEncoder()
db_founders_Encode = founders_df.copy()
db_founders_Encode['general_location'] = db_founders_Encode['general_location'].fillna("nan", inplace = True) # Aqui Luis
db_founders_Encode['general_location'] = le.fit_transform(db_founders_Encode['general_location'])
db_founders_Encode['gender'] = le.fit_transform(db_founders_Encode['gender'])
#db_founders_Encode['category'] = le.fit_transform(db_founders_Encode['category'])

# Get the name of the columns
columnsName = db_founders_Encode.columns.tolist()

# convert variables to numerical
for column in columnsName:
  db_founders_Encode[column] = pd.to_numeric(db_founders_Encode[column], errors='coerce').fillna(0).astype(np.int64)

db_founders_Encode.head()

   id_founder  id_company  ...  foreing_work_experience  foreing_founder
0           1           7  ...                        0                0
1           2          23  ...                        0                0
2           3         141  ...                        1                0
3           4         152  ...                        1                1
4           5         155  ...                        0                0

[5 rows x 21 columns]

In [27]:
# data types
db_founders_Encode.dtypes

id_founder                             int64
id_company                             int64
general_location                       int64
manager_exp                            int64
clevel_exp                             int64
engineering_exp                        int64
sales_exp                              int64
finance_exp                            int64
human_capital_exp                      int64
consulting_exp                         int64
founder_exp                            int64
foundation_year                        int64
years_of_experience_as_entreprenuer    int64
age_of_first_entrepreneurship          int64
age                                    int64
years_of_experience                    int64
number_of_startups                     int64
gender                                 int64
foreing_studies                        int64
foreing_work_experience                int64
foreing_founder                        int64
dtype: object

In [28]:
db_founders_Encode.isna().sum()

id_founder                             0
id_company                             0
general_location                       0
manager_exp                            0
clevel_exp                             0
engineering_exp                        0
sales_exp                              0
finance_exp                            0
human_capital_exp                      0
consulting_exp                         0
founder_exp                            0
foundation_year                        0
years_of_experience_as_entreprenuer    0
age_of_first_entrepreneurship          0
age                                    0
years_of_experience                    0
number_of_startups                     0
gender                                 0
foreing_studies                        0
foreing_work_experience                0
foreing_founder                        0
dtype: int64

In [29]:
db_founders_Encode.count()

id_founder                             640
id_company                             640
general_location                       640
manager_exp                            640
clevel_exp                             640
engineering_exp                        640
sales_exp                              640
finance_exp                            640
human_capital_exp                      640
consulting_exp                         640
founder_exp                            640
foundation_year                        640
years_of_experience_as_entreprenuer    640
age_of_first_entrepreneurship          640
age                                    640
years_of_experience                    640
number_of_startups                     640
gender                                 640
foreing_studies                        640
foreing_work_experience                640
foreing_founder                        640
dtype: int64

#Companies

In [141]:
# Query to connect with SQL data base
SQL_Query = pd.read_sql_query('''select * FROM "companies2" ''', conn)
companies_df = pd.DataFrame(SQL_Query)
companies_df.head(20)

    id_company  ...  mean_dp_years_of_experience_as_entreprenuer
0          3.0  ...                                          7.0
1          7.0  ...                                          9.0
2         10.0  ...                                          2.0
3         23.0  ...                                          4.0
4         51.0  ...                                         -1.0
5         64.0  ...                                         -2.0
6         93.0  ...                                         -4.0
7        129.0  ...                                         20.0
8        141.0  ...                                          6.0
9        147.0  ...                                          5.0
10       150.0  ...                                          1.0
11       152.0  ...                                          2.0
12       155.0  ...                                          9.0
13       166.0  ...                                          3.0
14       167.0  ...                                        -13.0
15       180.0  ...                                          5.0
16       185.0  ...                                         19.0
17       213.0  ...                                         11.0
18       219.0  ...                                          0.0
19       232.0  ...                                          8.0

[20 rows x 67 columns]

In [142]:
# data types
companies_df.dtypes

id_company                                     float64
foundation_year                                float64
category                                       float64
seed_year                                      float64
seed_amount                                    float64
                                                ...
mean_foreing_studies                           float64
mean_foreing_work_experience                   float64
mean_foreing_founder                           float64
mean_dp_years_of_experience                    float64
mean_dp_years_of_experience_as_entreprenuer    float64
Length: 67, dtype: object

In [143]:
companies_df.isna().sum()

id_company                                     0
foundation_year                                0
category                                       0
seed_year                                      0
seed_amount                                    0
                                              ..
mean_foreing_studies                           0
mean_foreing_work_experience                   0
mean_foreing_founder                           0
mean_dp_years_of_experience                    0
mean_dp_years_of_experience_as_entreprenuer    0
Length: 67, dtype: int64

In [144]:
companies_df.count()

id_company                                     510
foundation_year                                510
category                                       510
seed_year                                      510
seed_amount                                    510
                                              ...
mean_foreing_studies                           510
mean_foreing_work_experience                   510
mean_foreing_founder                           510
mean_dp_years_of_experience                    510
mean_dp_years_of_experience_as_entreprenuer    510
Length: 67, dtype: int64

In [145]:
# Drop the null columns where all values are null
companies_df = companies_df.dropna(axis='columns', how='all')
companies_df.head()

   id_company  ...  mean_dp_years_of_experience_as_entreprenuer
0         3.0  ...                                          7.0
1         7.0  ...                                          9.0
2        10.0  ...                                          2.0
3        23.0  ...                                          4.0
4        51.0  ...                                         -1.0

[5 rows x 67 columns]

In [146]:
import re
# Encoding labels
le = LabelEncoder()
db_companies_Encode = companies_df.copy()

# Get the name of the columns
columnsName = db_companies_Encode.columns.tolist()
columnsName.remove('rounds_funding_factor')
r = re.compile("^mean")
columnsName = [column for column in columnsName if not r.match(column)]

# convert variables to numerical
for column in columnsName:
  db_companies_Encode[column] = pd.to_numeric(db_companies_Encode[column], errors='coerce').fillna(0).astype(np.int64)


db_companies_Encode.head()

   id_company  ...  mean_dp_years_of_experience_as_entreprenuer
0           3  ...                                          7.0
1           7  ...                                          9.0
2          10  ...                                          2.0
3          23  ...                                          4.0
4          51  ...                                         -1.0

[5 rows x 67 columns]

In [147]:
# data types
db_companies_Encode.dtypes

id_company                                       int64
foundation_year                                  int64
category                                         int64
seed_year                                        int64
seed_amount                                      int64
                                                ...
mean_foreing_studies                           float64
mean_foreing_work_experience                   float64
mean_foreing_founder                           float64
mean_dp_years_of_experience                    float64
mean_dp_years_of_experience_as_entreprenuer    float64
Length: 67, dtype: object

In [148]:
db_companies_Encode.isna().sum()

id_company                                     0
foundation_year                                0
category                                       0
seed_year                                      0
seed_amount                                    0
                                              ..
mean_foreing_studies                           0
mean_foreing_work_experience                   0
mean_foreing_founder                           0
mean_dp_years_of_experience                    0
mean_dp_years_of_experience_as_entreprenuer    0
Length: 67, dtype: int64

In [149]:
db_companies_Encode.count()

id_company                                     510
foundation_year                                510
category                                       510
seed_year                                      510
seed_amount                                    510
                                              ...
mean_foreing_studies                           510
mean_foreing_work_experience                   510
mean_foreing_founder                           510
mean_dp_years_of_experience                    510
mean_dp_years_of_experience_as_entreprenuer    510
Length: 67, dtype: int64

In [150]:
columnsName = db_companies_Encode.columns.tolist()
r = re.compile("^mean|^max")
columnsName = [column for column in columnsName if r.match(column)]
columnsName

['max_manager_exp',
 'max_clevel_exp',
 'max_engineering_exp',
 'max_sales_exp',
 'max_finance_exp',
 'max_human_capital_exp',
 'max_consulting_exp',
 'max_founder_exp',
 'max_number_of_startups',
 'max_gender',
 'max_foreing_studies',
 'max_foreing_work_experience',
 'max_foreing_founder',
 'max_dp_years_of_experience',
 'max_dp_years_of_experience_as_entreprenuer',
 'mean_manager_exp',
 'mean_clevel_exp',
 'mean_engineering_exp',
 'mean_sales_exp',
 'mean_finance_exp',
 'mean_human_capital_exp',
 'mean_consulting_exp',
 'mean_founder_exp',
 'mean_number_of_startups',
 'mean_gender',
 'mean_foreing_studies',
 'mean_foreing_work_experience',
 'mean_foreing_founder',
 'mean_dp_years_of_experience',
 'mean_dp_years_of_experience_as_entreprenuer']

Models

In [151]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import tensorflow as tf
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

In [152]:
for column in columnsName:
  db_companies_Encode[column] = db_companies_Encode.drop(column,axis='columns', inplace=False)

db_companies_Encode.head()

   id_company  ...  mean_dp_years_of_experience_as_entreprenuer
0           3  ...                                          3.0
1           7  ...                                          7.0
2          10  ...                                         10.0
3          23  ...                                         23.0
4          51  ...                                         51.0

[5 rows x 67 columns]

In [153]:
# Generate our categorical variable lists
db_companies_cat = ["foundation_year","seed_year","last_funding_year","dp_year"] #"max_manager_exp","max_clevel_exp","max_engineering_exp","max_sales_exp","max_finance_exp","max_human_capital_exp","max_consulting_exp","max_founder_exp","max_number_of_startups","max_gender","max_foreing_studies","max_foreing_work_experience","max_foreing_founder"]
db_companies_cat

['foundation_year', 'seed_year', 'last_funding_year', 'dp_year']

In [154]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(db_companies_Encode[db_companies_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(db_companies_cat)
encode_df.head()

   foundation_year_2000  foundation_year_2004  ...  dp_year_2020  dp_year_2021
0                   0.0                   0.0  ...           0.0           0.0
1                   0.0                   0.0  ...           0.0           0.0
2                   0.0                   0.0  ...           0.0           0.0
3                   0.0                   0.0  ...           0.0           1.0
4                   0.0                   0.0  ...           0.0           0.0

[5 rows x 61 columns]

In [155]:
# Merge one-hot encoded features and drop the originals
db_companies_Encode = db_companies_Encode.merge(encode_df,left_index=True, right_index=True)
db_companies_Encode = db_companies_Encode.drop(db_companies_cat,1)
db_companies_Encode.head()

   id_company  category  seed_amount  ...  dp_year_2019  dp_year_2020  dp_year_2021
0           3         0      1400000  ...           0.0           0.0           0.0
1           7         0        10500  ...           0.0           0.0           0.0
2          10         0       200000  ...           0.0           0.0           0.0
3          23         0       150000  ...           0.0           0.0           1.0
4          51         0        20000  ...           0.0           0.0           0.0

[5 rows x 124 columns]

In [156]:
db_companies_Encode.dtypes

id_company                    int64
category                      int64
seed_amount                   int64
amount_last_funding           int64
month_since_last_funding      int64
                             ...
dp_year_2017                float64
dp_year_2018                float64
dp_year_2019                float64
dp_year_2020                float64
dp_year_2021                float64
Length: 124, dtype: object

Model 50 employees

In [157]:
# Split our preprocessed data into our features and target arrays
y = db_companies_Encode["more50_employees"].values
X = db_companies_Encode.drop(["more50_employees"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_33 (Dense)            (None, 80)                9920

 dense_34 (Dense)            (None, 30)                2430

 dense_35 (Dense)            (None, 1)                 31

=================================================================
Total params: 12,381
Trainable params: 12,381
Non-trainable params: 0
_________________________________________________________________

In [158]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [159]:
# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [160]:
# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=5)

In [161]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
12/12 [==============================] - 0s 2ms/step - loss: 136272.5156 - accuracy: 0.3298
Epoch 2/100
12/12 [==============================] - 0s 2ms/step - loss: 81146.9766 - accuracy: 0.4319
Epoch 3/100
12/12 [==============================] - 0s 2ms/step - loss: 32154.3066 - accuracy: 0.6126
Epoch 4/100
12/12 [==============================] - 0s 2ms/step - loss: 72495.0156 - accuracy: 0.5445
Epoch 5/100
12/12 [==============================] - 0s 2ms/step - loss: 50612.3359 - accuracy: 0.5942
Epoch 6/100
12/12 [==============================] - 0s 2ms/step - loss: 41048.2891 - accuracy: 0.6702
Epoch 7/100
12/12 [==============================] - 0s 2ms/step - loss: 41258.0820 - accuracy: 0.6466
Epoch 8/100
12/12 [==============================] - 0s 2ms/step - loss: 14179.8936 - accuracy: 0.7696
Epoch 9/100
12/12 [==============================] - 0s 2ms/step - loss: 13977.0537 - accuracy: 0.7880
Epoch 10/100
12/12 [==============================] - 0s 2ms/step - loss: 19425.9785 - accuracy: 0.7853
Epoch 11/100
12/12 [==============================] - 0s 2ms/step - loss: 17836.1680 - accuracy: 0.7435
Epoch 12/100
12/12 [==============================] - 0s 2ms/step - loss: 18512.9414 - accuracy: 0.7670
Epoch 13/100
12/12 [==============================] - 0s 2ms/step - loss: 9992.3486 - accuracy: 0.8089
Epoch 14/100
12/12 [==============================] - 0s 2ms/step - loss: 9030.4531 - accuracy: 0.8298
Epoch 15/100
12/12 [==============================] - 0s 2ms/step - loss: 44047.5664 - accuracy: 0.6754
Epoch 16/100
12/12 [==============================] - 0s 3ms/step - loss: 34206.7461 - accuracy: 0.6832
Epoch 17/100
12/12 [==============================] - 0s 2ms/step - loss: 36089.0664 - accuracy: 0.6832
Epoch 18/100
12/12 [==============================] - 0s 2ms/step - loss: 13915.2812 - accuracy: 0.8115
Epoch 19/100
12/12 [==============================] - 0s 2ms/step - loss: 11131.0605 - accuracy: 0.8115
Epoch 20/100
12/12 [==============================] - 0s 2ms/step - loss: 15732.6621 - accuracy: 0.7880
Epoch 21/100
12/12 [==============================] - 0s 2ms/step - loss: 10728.3662 - accuracy: 0.7932
Epoch 22/100
12/12 [==============================] - 0s 2ms/step - loss: 12568.7041 - accuracy: 0.8089
Epoch 23/100
12/12 [==============================] - 0s 2ms/step - loss: 7348.9482 - accuracy: 0.8298
Epoch 24/100
12/12 [==============================] - 0s 2ms/step - loss: 5877.4976 - accuracy: 0.8403
Epoch 25/100
12/12 [==============================] - 0s 2ms/step - loss: 13920.0811 - accuracy: 0.8010
Epoch 26/100
12/12 [==============================] - 0s 2ms/step - loss: 10225.4072 - accuracy: 0.7775
Epoch 27/100
12/12 [==============================] - 0s 2ms/step - loss: 14244.1680 - accuracy: 0.7853
Epoch 28/100
12/12 [==============================] - 0s 2ms/step - loss: 13391.5645 - accuracy: 0.8272
Epoch 29/100
12/12 [==============================] - 0s 2ms/step - loss: 10434.2471 - accuracy: 0.8141
Epoch 30/100
12/12 [==============================] - 0s 2ms/step - loss: 9911.5449 - accuracy: 0.8141
Epoch 31/100
12/12 [==============================] - 0s 2ms/step - loss: 11660.4697 - accuracy: 0.8037
Epoch 32/100
12/12 [==============================] - 0s 2ms/step - loss: 18028.9258 - accuracy: 0.7696
Epoch 33/100
12/12 [==============================] - 0s 2ms/step - loss: 15162.6582 - accuracy: 0.7853
Epoch 34/100
12/12 [==============================] - 0s 2ms/step - loss: 20057.3301 - accuracy: 0.8089
Epoch 35/100
12/12 [==============================] - 0s 2ms/step - loss: 17760.1602 - accuracy: 0.7984
Epoch 36/100
12/12 [==============================] - 0s 2ms/step - loss: 16543.8379 - accuracy: 0.7827
Epoch 37/100
12/12 [==============================] - 0s 2ms/step - loss: 7088.3252 - accuracy: 0.8194
Epoch 38/100
12/12 [==============================] - 0s 2ms/step - loss: 25602.2305 - accuracy: 0.7173
Epoch 39/100
12/12 [==============================] - 0s 2ms/step - loss: 18960.7129 - accuracy: 0.7827
Epoch 40/100
12/12 [==============================] - 0s 20ms/step - loss: 14988.0742 - accuracy: 0.8089
Epoch 41/100
12/12 [==============================] - 0s 2ms/step - loss: 9409.7148 - accuracy: 0.8455
Epoch 42/100
12/12 [==============================] - 0s 2ms/step - loss: 15882.0469 - accuracy: 0.8037
Epoch 43/100
12/12 [==============================] - 0s 2ms/step - loss: 18038.1543 - accuracy: 0.8168
Epoch 44/100
12/12 [==============================] - 0s 2ms/step - loss: 19290.0449 - accuracy: 0.7880
Epoch 45/100
12/12 [==============================] - 0s 2ms/step - loss: 9687.2432 - accuracy: 0.8168
Epoch 46/100
12/12 [==============================] - 0s 2ms/step - loss: 6793.9897 - accuracy: 0.8194
Epoch 47/100
12/12 [==============================] - 0s 2ms/step - loss: 5934.8291 - accuracy: 0.8220
Epoch 48/100
12/12 [==============================] - 0s 2ms/step - loss: 5125.5977 - accuracy: 0.8351
Epoch 49/100
12/12 [==============================] - 0s 2ms/step - loss: 4365.2378 - accuracy: 0.8534
Epoch 50/100
12/12 [==============================] - 0s 2ms/step - loss: 4920.4170 - accuracy: 0.8403
Epoch 51/100
12/12 [==============================] - 0s 2ms/step - loss: 12794.3643 - accuracy: 0.7304
Epoch 52/100
12/12 [==============================] - 0s 2ms/step - loss: 17182.0117 - accuracy: 0.7932
Epoch 53/100
12/12 [==============================] - 0s 2ms/step - loss: 10885.9102 - accuracy: 0.8220
Epoch 54/100
12/12 [==============================] - 0s 2ms/step - loss: 9103.0400 - accuracy: 0.8325
Epoch 55/100
12/12 [==============================] - 0s 2ms/step - loss: 6662.5449 - accuracy: 0.8586
Epoch 56/100
12/12 [==============================] - 0s 2ms/step - loss: 7695.4209 - accuracy: 0.8508
Epoch 57/100
12/12 [==============================] - 0s 2ms/step - loss: 5380.9927 - accuracy: 0.8141
Epoch 58/100
12/12 [==============================] - 0s 2ms/step - loss: 7812.9023 - accuracy: 0.8194
Epoch 59/100
12/12 [==============================] - 0s 2ms/step - loss: 8438.5957 - accuracy: 0.8272
Epoch 60/100
12/12 [==============================] - 0s 2ms/step - loss: 8379.0195 - accuracy: 0.8482
Epoch 61/100
12/12 [==============================] - 0s 2ms/step - loss: 5986.3091 - accuracy: 0.8377
Epoch 62/100
12/12 [==============================] - 0s 2ms/step - loss: 6532.2905 - accuracy: 0.8115
Epoch 63/100
12/12 [==============================] - 0s 2ms/step - loss: 5704.4634 - accuracy: 0.8351
Epoch 64/100
12/12 [==============================] - 0s 2ms/step - loss: 8066.0273 - accuracy: 0.8194
Epoch 65/100
12/12 [==============================] - 0s 2ms/step - loss: 5504.1807 - accuracy: 0.8194
Epoch 66/100
12/12 [==============================] - 0s 3ms/step - loss: 7123.9653 - accuracy: 0.8089
Epoch 67/100
12/12 [==============================] - 0s 2ms/step - loss: 5505.7827 - accuracy: 0.8246
Epoch 68/100
12/12 [==============================] - 0s 2ms/step - loss: 4307.1416 - accuracy: 0.8298
Epoch 69/100
12/12 [==============================] - 0s 2ms/step - loss: 6117.1978 - accuracy: 0.8455
Epoch 70/100
12/12 [==============================] - 0s 2ms/step - loss: 7053.9102 - accuracy: 0.8246
Epoch 71/100
12/12 [==============================] - 0s 2ms/step - loss: 13323.7666 - accuracy: 0.7435
Epoch 72/100
12/12 [==============================] - 0s 2ms/step - loss: 39181.2227 - accuracy: 0.6728
Epoch 73/100
12/12 [==============================] - 0s 2ms/step - loss: 19534.9980 - accuracy: 0.8115
Epoch 74/100
12/12 [==============================] - 0s 2ms/step - loss: 10892.6719 - accuracy: 0.8246
Epoch 75/100
12/12 [==============================] - 0s 2ms/step - loss: 6987.9180 - accuracy: 0.8377
Epoch 76/100
12/12 [==============================] - 0s 2ms/step - loss: 21869.5527 - accuracy: 0.7592
Epoch 77/100
12/12 [==============================] - 0s 2ms/step - loss: 21286.4863 - accuracy: 0.7670
Epoch 78/100
12/12 [==============================] - 0s 2ms/step - loss: 15802.5273 - accuracy: 0.8168
Epoch 79/100
12/12 [==============================] - 0s 2ms/step - loss: 16067.3604 - accuracy: 0.8037
Epoch 80/100
12/12 [==============================] - 0s 2ms/step - loss: 15378.9619 - accuracy: 0.7984
Epoch 81/100
12/12 [==============================] - 0s 2ms/step - loss: 10058.9668 - accuracy: 0.8272
Epoch 82/100
12/12 [==============================] - 0s 2ms/step - loss: 23620.5918 - accuracy: 0.7435
Epoch 83/100
12/12 [==============================] - 0s 2ms/step - loss: 11915.8662 - accuracy: 0.8194
Epoch 84/100
12/12 [==============================] - 0s 2ms/step - loss: 13221.1074 - accuracy: 0.8194
Epoch 85/100
12/12 [==============================] - 0s 2ms/step - loss: 20100.2363 - accuracy: 0.7749
Epoch 86/100
12/12 [==============================] - 0s 2ms/step - loss: 14605.0898 - accuracy: 0.8141
Epoch 87/100
12/12 [==============================] - 0s 2ms/step - loss: 10382.8535 - accuracy: 0.7880
Epoch 88/100
12/12 [==============================] - 0s 2ms/step - loss: 10134.2549 - accuracy: 0.8115
Epoch 89/100
12/12 [==============================] - 0s 2ms/step - loss: 7147.9077 - accuracy: 0.8220
Epoch 90/100
12/12 [==============================] - 0s 2ms/step - loss: 6871.9409 - accuracy: 0.7984
Epoch 91/100
12/12 [==============================] - 0s 2ms/step - loss: 6016.0581 - accuracy: 0.7958
Epoch 92/100
12/12 [==============================] - 0s 2ms/step - loss: 16257.3926 - accuracy: 0.7513
Epoch 93/100
12/12 [==============================] - 0s 2ms/step - loss: 13192.9844 - accuracy: 0.8063
Epoch 94/100
12/12 [==============================] - 0s 2ms/step - loss: 13161.6104 - accuracy: 0.7984
Epoch 95/100
12/12 [==============================] - 0s 2ms/step - loss: 6346.5391 - accuracy: 0.8429
Epoch 96/100
12/12 [==============================] - 0s 2ms/step - loss: 5700.5312 - accuracy: 0.7723
Epoch 97/100
12/12 [==============================] - 0s 2ms/step - loss: 14344.8232 - accuracy: 0.7801
Epoch 98/100
12/12 [==============================] - 0s 1ms/step - loss: 8350.4688 - accuracy: 0.8455
Epoch 99/100
12/12 [==============================] - 0s 2ms/step - loss: 11566.4795 - accuracy: 0.8194
Epoch 100/100
12/12 [==============================] - 0s 2ms/step - loss: 6934.3438 - accuracy: 0.8613

In [162]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

4/4 - 0s - loss: 66892.3906 - accuracy: 0.8438 - 106ms/epoch - 27ms/step
Loss: 66892.390625, Accuracy: 0.84375

Model 100 employees

In [163]:
# Split our preprocessed data into our features and target arrays
y = db_companies_Encode["more100_employees"].values
X = db_companies_Encode.drop(["more100_employees"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_12"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_36 (Dense)            (None, 80)                9920

 dense_37 (Dense)            (None, 30)                2430

 dense_38 (Dense)            (None, 1)                 31

=================================================================
Total params: 12,381
Trainable params: 12,381
Non-trainable params: 0
_________________________________________________________________

In [164]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=5)

In [165]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
12/12 [==============================] - 0s 2ms/step - loss: 213304.8594 - accuracy: 0.2330
Epoch 2/100
12/12 [==============================] - 0s 2ms/step - loss: 108061.4062 - accuracy: 0.6623
Epoch 3/100
12/12 [==============================] - 0s 2ms/step - loss: 75284.7734 - accuracy: 0.5052
Epoch 4/100
12/12 [==============================] - 0s 2ms/step - loss: 42538.4219 - accuracy: 0.7775
Epoch 5/100
12/12 [==============================] - 0s 2ms/step - loss: 34363.4727 - accuracy: 0.6754
Epoch 6/100
12/12 [==============================] - 0s 2ms/step - loss: 21392.9199 - accuracy: 0.7592
Epoch 7/100
12/12 [==============================] - 0s 2ms/step - loss: 29062.8691 - accuracy: 0.7408
Epoch 8/100
12/12 [==============================] - 0s 2ms/step - loss: 11181.1680 - accuracy: 0.7827
Epoch 9/100
12/12 [==============================] - 0s 3ms/step - loss: 21908.7812 - accuracy: 0.7984
Epoch 10/100
12/12 [==============================] - 0s 2ms/step - loss: 20346.2891 - accuracy: 0.7277
Epoch 11/100
12/12 [==============================] - 0s 2ms/step - loss: 43494.7578 - accuracy: 0.7120
Epoch 12/100
12/12 [==============================] - 0s 2ms/step - loss: 67561.3750 - accuracy: 0.7408
Epoch 13/100
12/12 [==============================] - 0s 3ms/step - loss: 153043.6719 - accuracy: 0.4921
Epoch 14/100
12/12 [==============================] - 0s 2ms/step - loss: 84490.1406 - accuracy: 0.7749
Epoch 15/100
12/12 [==============================] - 0s 2ms/step - loss: 129002.8828 - accuracy: 0.5236
Epoch 16/100
12/12 [==============================] - 0s 2ms/step - loss: 57077.1328 - accuracy: 0.7906
Epoch 17/100
12/12 [==============================] - 0s 2ms/step - loss: 59512.7812 - accuracy: 0.6754
Epoch 18/100
12/12 [==============================] - 0s 2ms/step - loss: 40853.2266 - accuracy: 0.7251
Epoch 19/100
12/12 [==============================] - 0s 2ms/step - loss: 42116.5039 - accuracy: 0.8010
Epoch 20/100
12/12 [==============================] - 0s 2ms/step - loss: 79484.3047 - accuracy: 0.6178
Epoch 21/100
12/12 [==============================] - 0s 2ms/step - loss: 47463.7109 - accuracy: 0.7749
Epoch 22/100
12/12 [==============================] - 0s 2ms/step - loss: 33220.3594 - accuracy: 0.7356
Epoch 23/100
12/12 [==============================] - 0s 2ms/step - loss: 26067.3789 - accuracy: 0.7958
Epoch 24/100
12/12 [==============================] - 0s 2ms/step - loss: 17598.3887 - accuracy: 0.8037
Epoch 25/100
12/12 [==============================] - 0s 2ms/step - loss: 12155.9160 - accuracy: 0.8351
Epoch 26/100
12/12 [==============================] - 0s 2ms/step - loss: 10107.2070 - accuracy: 0.8298
Epoch 27/100
12/12 [==============================] - 0s 2ms/step - loss: 5284.4370 - accuracy: 0.8770
Epoch 28/100
12/12 [==============================] - 0s 2ms/step - loss: 10316.9688 - accuracy: 0.8639
Epoch 29/100
12/12 [==============================] - 0s 2ms/step - loss: 10444.4395 - accuracy: 0.8639
Epoch 30/100
12/12 [==============================] - 0s 3ms/step - loss: 6288.5889 - accuracy: 0.8665
Epoch 31/100
12/12 [==============================] - 0s 2ms/step - loss: 7611.4131 - accuracy: 0.8691
Epoch 32/100
12/12 [==============================] - 0s 2ms/step - loss: 19389.5332 - accuracy: 0.8194
Epoch 33/100
12/12 [==============================] - 0s 2ms/step - loss: 11962.9004 - accuracy: 0.8534
Epoch 34/100
12/12 [==============================] - 0s 2ms/step - loss: 22989.3398 - accuracy: 0.8168
Epoch 35/100
12/12 [==============================] - 0s 2ms/step - loss: 14696.6348 - accuracy: 0.8455
Epoch 36/100
12/12 [==============================] - 0s 2ms/step - loss: 15553.3223 - accuracy: 0.8089
Epoch 37/100
12/12 [==============================] - 0s 2ms/step - loss: 11849.6885 - accuracy: 0.8717
Epoch 38/100
12/12 [==============================] - 0s 2ms/step - loss: 41999.5508 - accuracy: 0.7382
Epoch 39/100
12/12 [==============================] - 0s 2ms/step - loss: 24936.5703 - accuracy: 0.7775
Epoch 40/100
12/12 [==============================] - 0s 2ms/step - loss: 19777.1152 - accuracy: 0.8665
Epoch 41/100
12/12 [==============================] - 0s 2ms/step - loss: 12179.8799 - accuracy: 0.8534
Epoch 42/100
12/12 [==============================] - 0s 2ms/step - loss: 18167.3145 - accuracy: 0.8063
Epoch 43/100
12/12 [==============================] - 0s 2ms/step - loss: 27621.0410 - accuracy: 0.8010
Epoch 44/100
12/12 [==============================] - 0s 2ms/step - loss: 8462.1309 - accuracy: 0.8560
Epoch 45/100
12/12 [==============================] - 0s 2ms/step - loss: 22688.2988 - accuracy: 0.8403
Epoch 46/100
12/12 [==============================] - 0s 2ms/step - loss: 28379.5332 - accuracy: 0.8141
Epoch 47/100
12/12 [==============================] - 0s 2ms/step - loss: 24519.4941 - accuracy: 0.8089
Epoch 48/100
12/12 [==============================] - 0s 2ms/step - loss: 37506.3516 - accuracy: 0.7408
Epoch 49/100
12/12 [==============================] - 0s 2ms/step - loss: 17813.0449 - accuracy: 0.8534
Epoch 50/100
12/12 [==============================] - 0s 2ms/step - loss: 9081.1279 - accuracy: 0.8613
Epoch 51/100
12/12 [==============================] - 0s 2ms/step - loss: 9935.6416 - accuracy: 0.8586
Epoch 52/100
12/12 [==============================] - 0s 2ms/step - loss: 9004.9473 - accuracy: 0.8770
Epoch 53/100
12/12 [==============================] - 0s 2ms/step - loss: 12228.8125 - accuracy: 0.8325
Epoch 54/100
12/12 [==============================] - 0s 2ms/step - loss: 19477.1094 - accuracy: 0.8482
Epoch 55/100
12/12 [==============================] - 0s 2ms/step - loss: 28888.5527 - accuracy: 0.8403
Epoch 56/100
12/12 [==============================] - 0s 2ms/step - loss: 19789.5996 - accuracy: 0.7958
Epoch 57/100
12/12 [==============================] - 0s 2ms/step - loss: 15857.7920 - accuracy: 0.8089
Epoch 58/100
12/12 [==============================] - 0s 2ms/step - loss: 8060.7153 - accuracy: 0.8743
Epoch 59/100
12/12 [==============================] - 0s 2ms/step - loss: 11619.5420 - accuracy: 0.8377
Epoch 60/100
12/12 [==============================] - 0s 2ms/step - loss: 12031.0801 - accuracy: 0.8351
Epoch 61/100
12/12 [==============================] - 0s 2ms/step - loss: 8142.7109 - accuracy: 0.8770
Epoch 62/100
12/12 [==============================] - 0s 2ms/step - loss: 23871.1484 - accuracy: 0.8272
Epoch 63/100
12/12 [==============================] - 0s 2ms/step - loss: 22484.9902 - accuracy: 0.7853
Epoch 64/100
12/12 [==============================] - 0s 2ms/step - loss: 20161.7207 - accuracy: 0.7984
Epoch 65/100
12/12 [==============================] - 0s 2ms/step - loss: 22426.3398 - accuracy: 0.7853
Epoch 66/100
12/12 [==============================] - 0s 2ms/step - loss: 10592.6367 - accuracy: 0.8508
Epoch 67/100
12/12 [==============================] - 0s 2ms/step - loss: 6250.1118 - accuracy: 0.8770
Epoch 68/100
12/12 [==============================] - 0s 2ms/step - loss: 9846.3525 - accuracy: 0.8665
Epoch 69/100
12/12 [==============================] - 0s 2ms/step - loss: 15003.3887 - accuracy: 0.8325
Epoch 70/100
12/12 [==============================] - 0s 1ms/step - loss: 9580.4463 - accuracy: 0.8822
Epoch 71/100
12/12 [==============================] - 0s 2ms/step - loss: 10587.2852 - accuracy: 0.8639
Epoch 72/100
12/12 [==============================] - 0s 2ms/step - loss: 9866.8105 - accuracy: 0.8665
Epoch 73/100
12/12 [==============================] - 0s 1ms/step - loss: 11258.1426 - accuracy: 0.8482
Epoch 74/100
12/12 [==============================] - 0s 1ms/step - loss: 9930.6553 - accuracy: 0.8743
Epoch 75/100
12/12 [==============================] - 0s 2ms/step - loss: 14112.6104 - accuracy: 0.8717
Epoch 76/100
12/12 [==============================] - 0s 1ms/step - loss: 17866.0938 - accuracy: 0.8534
Epoch 77/100
12/12 [==============================] - 0s 2ms/step - loss: 11373.3418 - accuracy: 0.8613
Epoch 78/100
12/12 [==============================] - 0s 1ms/step - loss: 22937.4062 - accuracy: 0.8037
Epoch 79/100
12/12 [==============================] - 0s 2ms/step - loss: 17640.5547 - accuracy: 0.8351
Epoch 80/100
12/12 [==============================] - 0s 2ms/step - loss: 12878.7383 - accuracy: 0.8691
Epoch 81/100
12/12 [==============================] - 0s 2ms/step - loss: 13089.7109 - accuracy: 0.8586
Epoch 82/100
12/12 [==============================] - 0s 2ms/step - loss: 13236.6035 - accuracy: 0.8325
Epoch 83/100
12/12 [==============================] - 0s 2ms/step - loss: 5274.1680 - accuracy: 0.8770
Epoch 84/100
12/12 [==============================] - 0s 2ms/step - loss: 4903.2886 - accuracy: 0.8796
Epoch 85/100
12/12 [==============================] - 0s 2ms/step - loss: 7096.1714 - accuracy: 0.8901
Epoch 86/100
12/12 [==============================] - 0s 1ms/step - loss: 6875.7949 - accuracy: 0.8848
Epoch 87/100
12/12 [==============================] - 0s 2ms/step - loss: 11731.4756 - accuracy: 0.8534
Epoch 88/100
12/12 [==============================] - 0s 3ms/step - loss: 12554.6338 - accuracy: 0.8717
Epoch 89/100
12/12 [==============================] - 0s 2ms/step - loss: 12279.1221 - accuracy: 0.8586
Epoch 90/100
12/12 [==============================] - 0s 2ms/step - loss: 11546.9414 - accuracy: 0.8429
Epoch 91/100
12/12 [==============================] - 0s 2ms/step - loss: 14254.1533 - accuracy: 0.8429
Epoch 92/100
12/12 [==============================] - 0s 2ms/step - loss: 55921.6953 - accuracy: 0.7696
Epoch 93/100
12/12 [==============================] - 0s 2ms/step - loss: 30096.9473 - accuracy: 0.8063
Epoch 94/100
12/12 [==============================] - 0s 2ms/step - loss: 34796.7422 - accuracy: 0.8194
Epoch 95/100
12/12 [==============================] - 0s 1ms/step - loss: 30998.2461 - accuracy: 0.8272
Epoch 96/100
12/12 [==============================] - 0s 1ms/step - loss: 35140.8438 - accuracy: 0.7853
Epoch 97/100
12/12 [==============================] - 0s 1ms/step - loss: 8466.0723 - accuracy: 0.8822
Epoch 98/100
12/12 [==============================] - 0s 1ms/step - loss: 24956.4258 - accuracy: 0.8037
Epoch 99/100
12/12 [==============================] - 0s 2ms/step - loss: 18003.8906 - accuracy: 0.8220
Epoch 100/100
12/12 [==============================] - 0s 2ms/step - loss: 12255.9307 - accuracy: 0.8770

In [166]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

4/4 - 0s - loss: 47214.9883 - accuracy: 0.8359 - 106ms/epoch - 26ms/step
Loss: 47214.98828125, Accuracy: 0.8359375

Model soonicorn

In [167]:
# Split our preprocessed data into our features and target arrays
y = db_companies_Encode["soonicorn"].values
X = db_companies_Encode.drop(["soonicorn"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_39 (Dense)            (None, 80)                9920

 dense_40 (Dense)            (None, 30)                2430

 dense_41 (Dense)            (None, 1)                 31

=================================================================
Total params: 12,381
Trainable params: 12,381
Non-trainable params: 0
_________________________________________________________________

In [168]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=5)

In [169]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
12/12 [==============================] - 0s 2ms/step - loss: 602171.5000 - accuracy: 0.6754
Epoch 2/100
12/12 [==============================] - 0s 2ms/step - loss: 172186.8750 - accuracy: 0.1571
Epoch 3/100
12/12 [==============================] - 0s 2ms/step - loss: 76822.2656 - accuracy: 0.6702
Epoch 4/100
12/12 [==============================] - 0s 2ms/step - loss: 30784.3398 - accuracy: 0.5838
Epoch 5/100
12/12 [==============================] - 0s 2ms/step - loss: 44735.3398 - accuracy: 0.6492
Epoch 6/100
12/12 [==============================] - 0s 2ms/step - loss: 29594.8359 - accuracy: 0.8377
Epoch 7/100
12/12 [==============================] - 0s 2ms/step - loss: 69861.5547 - accuracy: 0.4895
Epoch 8/100
12/12 [==============================] - 0s 2ms/step - loss: 35224.6719 - accuracy: 0.7225
Epoch 9/100
12/12 [==============================] - 0s 2ms/step - loss: 26100.7402 - accuracy: 0.7251
Epoch 10/100
12/12 [==============================] - 0s 2ms/step - loss: 58863.5820 - accuracy: 0.5733
Epoch 11/100
12/12 [==============================] - 0s 2ms/step - loss: 43168.4531 - accuracy: 0.8063
Epoch 12/100
12/12 [==============================] - 0s 2ms/step - loss: 63492.7188 - accuracy: 0.6126
Epoch 13/100
12/12 [==============================] - 0s 2ms/step - loss: 13206.8242 - accuracy: 0.8717
Epoch 14/100
12/12 [==============================] - 0s 2ms/step - loss: 8197.8340 - accuracy: 0.8665
Epoch 15/100
12/12 [==============================] - 0s 3ms/step - loss: 20097.5391 - accuracy: 0.7906
Epoch 16/100
12/12 [==============================] - 0s 1ms/step - loss: 10877.3408 - accuracy: 0.8770
Epoch 17/100
12/12 [==============================] - 0s 2ms/step - loss: 6852.8535 - accuracy: 0.8874
Epoch 18/100
12/12 [==============================] - 0s 2ms/step - loss: 9593.2236 - accuracy: 0.8455
Epoch 19/100
12/12 [==============================] - 0s 2ms/step - loss: 7734.5117 - accuracy: 0.8770
Epoch 20/100
12/12 [==============================] - 0s 1ms/step - loss: 12109.6113 - accuracy: 0.8325
Epoch 21/100
12/12 [==============================] - 0s 2ms/step - loss: 35714.2969 - accuracy: 0.7304
Epoch 22/100
12/12 [==============================] - 0s 2ms/step - loss: 28894.5254 - accuracy: 0.8194
Epoch 23/100
12/12 [==============================] - 0s 2ms/step - loss: 19199.4180 - accuracy: 0.8691
Epoch 24/100
12/12 [==============================] - 0s 2ms/step - loss: 27442.5000 - accuracy: 0.7592
Epoch 25/100
12/12 [==============================] - 0s 2ms/step - loss: 44652.4141 - accuracy: 0.7461
Epoch 26/100
12/12 [==============================] - 0s 2ms/step - loss: 16221.2109 - accuracy: 0.8455
Epoch 27/100
12/12 [==============================] - 0s 2ms/step - loss: 15070.9668 - accuracy: 0.8482
Epoch 28/100
12/12 [==============================] - 0s 2ms/step - loss: 12816.4346 - accuracy: 0.8534
Epoch 29/100
12/12 [==============================] - 0s 2ms/step - loss: 10122.2051 - accuracy: 0.8691
Epoch 30/100
12/12 [==============================] - 0s 2ms/step - loss: 17957.8066 - accuracy: 0.8272
Epoch 31/100
12/12 [==============================] - 0s 2ms/step - loss: 20064.4473 - accuracy: 0.8586
Epoch 32/100
12/12 [==============================] - 0s 2ms/step - loss: 8417.4756 - accuracy: 0.8953
Epoch 33/100
12/12 [==============================] - 0s 2ms/step - loss: 28004.7852 - accuracy: 0.8037
Epoch 34/100
12/12 [==============================] - 0s 2ms/step - loss: 14173.4434 - accuracy: 0.8717
Epoch 35/100
12/12 [==============================] - 0s 2ms/step - loss: 4678.8320 - accuracy: 0.9136
Epoch 36/100
12/12 [==============================] - 0s 2ms/step - loss: 36712.4492 - accuracy: 0.7696
Epoch 37/100
12/12 [==============================] - 0s 2ms/step - loss: 40996.1602 - accuracy: 0.8743
Epoch 38/100
12/12 [==============================] - 0s 2ms/step - loss: 23280.0371 - accuracy: 0.7932
Epoch 39/100
12/12 [==============================] - 0s 2ms/step - loss: 19693.6777 - accuracy: 0.8325
Epoch 40/100
12/12 [==============================] - 0s 2ms/step - loss: 10711.3672 - accuracy: 0.8743
Epoch 41/100
12/12 [==============================] - 0s 2ms/step - loss: 10139.1455 - accuracy: 0.8901
Epoch 42/100
12/12 [==============================] - 0s 2ms/step - loss: 24731.0215 - accuracy: 0.8063
Epoch 43/100
12/12 [==============================] - 0s 2ms/step - loss: 5418.5415 - accuracy: 0.9267
Epoch 44/100
12/12 [==============================] - 0s 2ms/step - loss: 7205.4233 - accuracy: 0.9031
Epoch 45/100
12/12 [==============================] - 0s 2ms/step - loss: 26230.6094 - accuracy: 0.8534
Epoch 46/100
12/12 [==============================] - 0s 2ms/step - loss: 16063.6777 - accuracy: 0.8560
Epoch 47/100
12/12 [==============================] - 0s 2ms/step - loss: 4671.6860 - accuracy: 0.9084
Epoch 48/100
12/12 [==============================] - 0s 1ms/step - loss: 5608.9727 - accuracy: 0.8979
Epoch 49/100
12/12 [==============================] - 0s 2ms/step - loss: 6666.8960 - accuracy: 0.9372
Epoch 50/100
12/12 [==============================] - 0s 2ms/step - loss: 4834.9302 - accuracy: 0.9188
Epoch 51/100
12/12 [==============================] - 0s 2ms/step - loss: 1985.7749 - accuracy: 0.9215
Epoch 52/100
12/12 [==============================] - 0s 2ms/step - loss: 2823.3792 - accuracy: 0.9346
Epoch 53/100
12/12 [==============================] - 0s 2ms/step - loss: 3345.7051 - accuracy: 0.9450
Epoch 54/100
12/12 [==============================] - 0s 2ms/step - loss: 4111.1802 - accuracy: 0.9215
Epoch 55/100
12/12 [==============================] - 0s 2ms/step - loss: 7330.5654 - accuracy: 0.9058
Epoch 56/100
12/12 [==============================] - 0s 2ms/step - loss: 5044.6655 - accuracy: 0.8979
Epoch 57/100
12/12 [==============================] - 0s 2ms/step - loss: 5554.1196 - accuracy: 0.9241
Epoch 58/100
12/12 [==============================] - 0s 2ms/step - loss: 49316.6719 - accuracy: 0.7304
Epoch 59/100
12/12 [==============================] - 0s 2ms/step - loss: 29422.3027 - accuracy: 0.8351
Epoch 60/100
12/12 [==============================] - 0s 2ms/step - loss: 9758.0137 - accuracy: 0.8665
Epoch 61/100
12/12 [==============================] - 0s 3ms/step - loss: 15252.2959 - accuracy: 0.8743
Epoch 62/100
12/12 [==============================] - 0s 2ms/step - loss: 18922.1426 - accuracy: 0.8770
Epoch 63/100
12/12 [==============================] - 0s 2ms/step - loss: 44045.9727 - accuracy: 0.7539
Epoch 64/100
12/12 [==============================] - 0s 2ms/step - loss: 13188.9727 - accuracy: 0.8979
Epoch 65/100
12/12 [==============================] - 0s 2ms/step - loss: 12154.0781 - accuracy: 0.8901
Epoch 66/100
12/12 [==============================] - 0s 3ms/step - loss: 12776.1797 - accuracy: 0.9110
Epoch 67/100
12/12 [==============================] - 0s 2ms/step - loss: 26381.6289 - accuracy: 0.8586
Epoch 68/100
12/12 [==============================] - 0s 2ms/step - loss: 14264.8506 - accuracy: 0.8953
Epoch 69/100
12/12 [==============================] - 0s 2ms/step - loss: 10140.7812 - accuracy: 0.9162
Epoch 70/100
12/12 [==============================] - 0s 2ms/step - loss: 5468.0298 - accuracy: 0.8979
Epoch 71/100
12/12 [==============================] - 0s 2ms/step - loss: 4919.7993 - accuracy: 0.9215
Epoch 72/100
12/12 [==============================] - 0s 2ms/step - loss: 2614.8799 - accuracy: 0.9372
Epoch 73/100
12/12 [==============================] - 0s 2ms/step - loss: 2623.4185 - accuracy: 0.9476
Epoch 74/100
12/12 [==============================] - 0s 2ms/step - loss: 10020.9375 - accuracy: 0.8927
Epoch 75/100
12/12 [==============================] - 0s 2ms/step - loss: 4393.2754 - accuracy: 0.9241
Epoch 76/100
12/12 [==============================] - 0s 2ms/step - loss: 12712.0127 - accuracy: 0.8743
Epoch 77/100
12/12 [==============================] - 0s 3ms/step - loss: 19521.3809 - accuracy: 0.8586
Epoch 78/100
12/12 [==============================] - 0s 2ms/step - loss: 7978.6040 - accuracy: 0.9162
Epoch 79/100
12/12 [==============================] - 0s 2ms/step - loss: 3535.3416 - accuracy: 0.9241
Epoch 80/100
12/12 [==============================] - 0s 2ms/step - loss: 3682.4656 - accuracy: 0.9162
Epoch 81/100
12/12 [==============================] - 0s 2ms/step - loss: 3379.9094 - accuracy: 0.9293
Epoch 82/100
12/12 [==============================] - 0s 2ms/step - loss: 3920.3357 - accuracy: 0.9162
Epoch 83/100
12/12 [==============================] - 0s 2ms/step - loss: 2776.0400 - accuracy: 0.9398
Epoch 84/100
12/12 [==============================] - 0s 2ms/step - loss: 1782.9797 - accuracy: 0.9607
Epoch 85/100
12/12 [==============================] - 0s 2ms/step - loss: 3669.0222 - accuracy: 0.9346
Epoch 86/100
12/12 [==============================] - 0s 2ms/step - loss: 9680.6816 - accuracy: 0.8953
Epoch 87/100
12/12 [==============================] - 0s 2ms/step - loss: 20605.7949 - accuracy: 0.8325
Epoch 88/100
12/12 [==============================] - 0s 2ms/step - loss: 26833.2324 - accuracy: 0.8770
Epoch 89/100
12/12 [==============================] - 0s 2ms/step - loss: 10907.0742 - accuracy: 0.9267
Epoch 90/100
12/12 [==============================] - 0s 2ms/step - loss: 7410.4404 - accuracy: 0.9084
Epoch 91/100
12/12 [==============================] - 0s 2ms/step - loss: 3018.2070 - accuracy: 0.9110
Epoch 92/100
12/12 [==============================] - 0s 2ms/step - loss: 3603.2131 - accuracy: 0.9372
Epoch 93/100
12/12 [==============================] - 0s 2ms/step - loss: 16291.7588 - accuracy: 0.8796
Epoch 94/100
12/12 [==============================] - 0s 2ms/step - loss: 31307.0859 - accuracy: 0.8482
Epoch 95/100
12/12 [==============================] - 0s 2ms/step - loss: 20715.1250 - accuracy: 0.8953
Epoch 96/100
12/12 [==============================] - 0s 2ms/step - loss: 23716.0781 - accuracy: 0.8403
Epoch 97/100
12/12 [==============================] - 0s 2ms/step - loss: 28528.2402 - accuracy: 0.8796
Epoch 98/100
12/12 [==============================] - 0s 2ms/step - loss: 11501.6035 - accuracy: 0.9031
Epoch 99/100
12/12 [==============================] - 0s 2ms/step - loss: 3687.5288 - accuracy: 0.9241
Epoch 100/100
12/12 [==============================] - 0s 2ms/step - loss: 11411.3965 - accuracy: 0.8979

In [170]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

4/4 - 0s - loss: 24480.8516 - accuracy: 0.8438 - 92ms/epoch - 23ms/step
Loss: 24480.8515625, Accuracy: 0.84375

File

In [ ]:
from google.colab import files

with open('/content/drive/MyDrive/Final_project/Second_Deliverable/key_config.txt', "r") as file:
    FileasList = file.readlines()
    username = FileasList[0]
    password = FileasList[1]

    new_line = []
    # Loop through the file
    for i in FileasList:
        # Get rid of any new lines ("enter")
        i = i.replace("\n", "")
        # Add the cleaned data to the new_line list
        new_line.append(i)
    # Set the username to be the first object
    username = new_line[0]
    # Set the password to be the second object
    password = new_line[1]